.form-check-sm {
    $form-check-input-width: 1em;
    $form-check-margin-bottom: 0.5rem;
    $form-check-padding-start: $form-check-input-width + 0.5em;

    margin-bottom: $form-check-margin-bottom;
    padding-left: $form-check-padding-start;

    .form-check-input {
        width: $form-check-input-width;
        height: $form-check-input-width;
        margin-top: ($line-height-base - $form-check-input-width) * 0.25;
        margin-left: $form-check-padding-start * -1;
    }
}

.form-check-lg {
    $form-check-input-width: 1.625em;
    $form-check-margin-bottom: 0.5rem;
    $form-check-padding-start: $form-check-input-width + 0.5em;

    margin-bottom: $form-check-margin-bottom;
    padding-left: $form-check-padding-start;

    .form-check-input {
        width: $form-check-input-width;
        height: $form-check-input-width;
        margin-top: ($line-height-base - $form-check-input-width) * 0.5;
        margin-left: $form-check-padding-start * -1;
    }
}

textarea.form-control {
    min-height: 8rem;
    resize: none;
}

.fake-file {
    @include border-radius($input-border-radius, 0);
    @include transition($btn-transition);
    border-width: 0;
    border-color: $input-border-color;
    &:not(:active) {
        transition-delay: 0.5s;
    }
    &:active {
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
        // outline: 0;
        @if $enable-shadows {
            @include box-shadow($input-box-shadow, $input-focus-box-shadow);
        } @else {
            // Avoid using mixin so we can pass custom focus shadow properly
            box-shadow: $input-focus-box-shadow;
        }
    }
    .input-group-text,
    .form-control {
        border-color: inherit;
    }
}
