header {
    .navbar {
        font-family: $font-family-card;
        flex-wrap: nowrap;
    }
    .navbar,
    .top-bar {
        z-index: 1046;
    }
    .csr-list {
        @include list-unstyled();
        font-size: 0.8125rem;
        .csr-list-item {
            &:not(:last-child)::after {
                content: "|";
                opacity: 0.35;
                margin: 0 0.5rem;
            }
        }
    }
    .sub-nav {
        @include list-unstyled();
        .sub-nav-item {
            &:not(:last-child)::after {
                content: "|";
                opacity: 0.35;
                margin: 0 0.5rem;
            }
        }
    }
    .user-panel {
        > * {
            &:not(:last-child)::after {
                content: "|";
                opacity: 0.35;
                margin: 0 0.5rem;
            }
        }
    }

    .offcanvas {
        padding-top: 9rem;
        --#{$prefix}offcanvas-height: fit-content;
        --#{$prefix}offcanvas-border-width: null;
    }
    .navbar-nav {
        --#{$prefix}nav-link-font-weight: #{$font-weight-semibold};
    }
}
