table#auto_history {
    $auto_history: (
        1: 4%,
        2: 8%,
        3: 18%,
        4: 18%,
        5: 18%,
        6: 8%,
        7: 10%,
        8: 16%,
    );
    th,
    td {
        @each $i, $percent in $auto_history {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
    td {
        &:nth-child(4),
        &:nth-child(5) {
            text-align: start;
        }
    }
}
