table#data_list {
    th,
    td {
        &:not(.cell-adaptive) {
            max-width: none;
        }
        &:first-child {
            width: 4%;
        }
        &:nth-child(2) {
            width: 4%;
        }
    }
}
