table#design_req {
    $design_req: (
        1: 14%,
        2: 30%,
        3: 9%,
        4: 6%,
        5: 6%,
        6: 12%,
        7: 7%,
        8: 9%,
        9: 6%,
    );
    th,
    td {
        @each $i, $percent in $design_req {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
    td {
        &:nth-child(2) {
            text-align: start;
        }
    }
}
