table#function_detail {
    $function_detail: (
        1: 9%,
        2: 35%,
        3: 7%,
        4: 49%,
    );
    th,
    td {
        @each $i, $percent in $function_detail {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
    td {
        &:nth-child(2),
        &:nth-child(4) {
            text-align: start;
        }
    }
}
