table#requirement_case {
    $requirement_case: (
        1: 3%,
        2: 7%,
        3: 8%,
        4: 10%,
        5: 10%,
        6: 9%,
        7: 5%,
        8: 5%,
        9: 7%,
        10: 36%,
    );
    th,
    td {
        @each $i, $percent in $requirement_case {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
    td {
        &:nth-child(4),
        &:nth-child(5) {
            text-align: start;
        }
    }
}
