@import "design_req";
@import "design_script";
@import "function_detail";
@import "requirement_case";
@import "auto_history";
@import "progress_history";
@import "attachment_list";
@import "case_connect";
@import "script_connect";
@import "test_result_list";
@import "case_execute";
@import "case_history";
@import "server_file";
@import "design_node";
@import "csr_connection";
@import "test_history";
@import "test_script";
@import "connected_script";
@import "script_list";
@import "case_list";
@import "column_list";
@import "dataset_list";
@import "execute_list";
@import "execute_history";
@import "schedule_list";

.contents {
    .table {
        min-width: 1116px;
    }
}

.contents,
.popup,
.modal {
    .table {
        border-top: 2px solid rgba($dark, 0.5);
        th,
        td {
            text-align: center;
            @include text-truncate;
            white-space: nowrap;
            max-width: 0;
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}

body:not(.popup-window) {
    .modal-xl {
        .table {
            min-width: 1106px;
        }
        .p-3 {
            .table {
                min-width: 1072px;
            }
        }
    }
    .modal-lg {
        .table {
            min-width: 766px;
        }
        &.modal-dialog-scrollable {
            .table {
                min-width: 749px;
            }
        }
    }
}

.popup-xl {
    .table {
        min-width: 766px;
    }
}

.table {
    .selected {
        position: relative;
        &::after {
            z-index: 3;
            content: "선택됨";
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($secondary, 0.625);
            font-weight: $font-weight-bolder;
            color: $white;
            transition: opacity 0.1s ease;
        }
        &:hover::after {
            opacity: 0;
            visibility: hidden;
        }
    }
    .form-control[type="text"]:not(:focus) {
        background-color: rgba(255, 255, 255, 0);
    }
}
