@import "design_req";
@import "design_script";
@import "function_detail";
@import "requirement_case";
@import "auto_history";
@import "progress_history";
@import "attachment_list";
@import "case_connect";
@import "script_connect";
@import "test_result_list";
@import "case_execute";
@import "case_history";
@import "server_file";
@import "design_node";

.contents {
    .table {
        min-width: 1116px;
    }
}
.modal-xl {
    .table {
        min-width: 1106px;
    }
}
.modal-lg {
    .table {
        min-width: 766px;
    }
    &.modal-dialog-scrollable {
        .table {
            min-width: 749px;
        }
    }
}
.table {
    border-top: 2px solid rgba($dark, 0.5);
    th,
    td {
        text-align: center;
        @include text-truncate;
        white-space: nowrap;
        max-width: 0;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
    }
}
