@import "design_req";
@import "design_script";
@import "function_detail";
@import "requirement_case";
@import "auto_history";
@import "progress_history";
@import "attachment_list";
@import "case_connect";
@import "script_connect";
@import "test_result_list";
@import "case_execute";
@import "case_history";
@import "server_file";
@import "design_node";
@import "csr_connection";
@import "test_history";
@import "test_script";
@import "connected_script";
@import "script_list";
@import "case_list";
@import "column_list";
@import "dataset_list";
@import "execute_list";
@import "execute_history";
@import "schedule_list";
@import "case_schedule";
@import "fault_list";
@import "fault_depart";
@import "fault_tester";
@import "fault_performance";
@import "excluded_list";
@import "history_list";
@import "user_list";
@import "ip_list";
@import "system_data_list";
@import "agent_list";
@import "notice_list";
@import "post_list";
@import "data_list";
@import "dataset_connect";
@import "schedule_history";

.contents {
    .table {
        min-width: 1116px;
    }
}

.contents,
.popup,
.modal {
    .table {
        th {
            box-shadow: inset 0px 2px 0px 0px rgba($dark, 0.5),
                inset 0px -1px 0px 0px rgba($secondary, 0.14);
        }
        th,
        td {
            text-align: center;
            @include text-truncate;
            white-space: nowrap;
            max-width: 0;
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}

body:not(.popup-window) {
    .modal-xl {
        .table {
            min-width: 1106px;
        }
        .p-3 {
            .table {
                min-width: 1072px;
            }
        }
    }
    .modal-lg {
        .table {
            min-width: 766px;
        }
        &.modal-dialog-scrollable {
            .table {
                min-width: 749px;
            }
        }
    }
}

.popup-xl {
    .table {
        min-width: 766px;
    }
}

.table {
    .selected {
        position: relative;
        overflow: hidden;
        &::after {
            z-index: 3;
            content: "선택됨";
            position: absolute;
            background-color: rgba($secondary, 0.625);
            font-weight: $font-weight-bolder;
            color: $white;
            transition: opacity 0.1s ease;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 2rem;
        }
        &:hover::after {
            opacity: 0;
            visibility: hidden;
        }
    }
    .row-divider {
        border-bottom: 1px solid rgba($black, 0.5);
    }
    .form-control[type="text"]:not(:focus) {
        background-color: rgba(255, 255, 255, 0);
    }
}

.table-adaptive {
    overflow-x: auto;
    .cell-adaptive {
        &:not(:nth-child(-n + 2)) {
            width: 1px;
            min-width: 5rem;
            max-width: 10rem;
            white-space: nowrap;
        }
    }
    thead {
        position: sticky;
        top: 0;
        z-index: 1019;
    }
    th,
    td {
        &:first-child {
            position: sticky;
            left: 0;
            z-index: 1018;
        }
    }
}

.dynamic-table {
    max-height: 32rem;
}
