extends ../layout/popupBase
include ../mixins/form
include ../mixins/button
include ../mixins/badge
include ../mixins/modal
include ../mixins/pagination
include ../mixins/popup
include ../mixins/modal

block head
    - var title = "결과 입력";

block contents
    main.popup.popup-lg.flex-grow-1
        +popup-title
            .ms-auto
                +badge.bg-secondary 최종변경일시
                span.badge.text-body.small.opacity-75 2022-05-16 14:45:52
        section.popup-section.container-fluid
            .row.gx-2.gy-3
                .col-12 #[+input-sm("제목")]
                .col #[+select-sm("테스트 결과")]
                .col #[+select-sm("결함유형")]
                .col #[+select-sm("결함 심각도")]
                .col #[+select-sm("CSR 수정 범위 내")]
                .col-12 #[+textarea-sm("상세 정보")]
        +popup-footer
            +btn.btn-primary 저장
            +btn.btn-secondary.popup-close 취소
    +danger-modal
