extends ../layout/popupBase
include ../mixins/form
include ../mixins/button
include ../mixins/badge
include ../mixins/modal
include ../mixins/pagination
include ../mixins/popup
include ../mixins/modal

block head
    - var title = "CSR/요구사항 연결";

block contents
    .popup.popup-lg.flex-grow-1
        +popup-title
        section.popup-section.container-fluid
            +select("CSR 번호").mb-3
            +select("요구사항 ID")
        +popup-footer
            .hstack.gap-2.mx-auto
                +btn.btn-primary 확인
                +btn.btn-secondary.popup-close-btn 취소
    +danger-modal
