extends ../layout/popupBase
include ../mixins/form
include ../mixins/button
include ../mixins/badge
include ../mixins/modal
include ../mixins/pagination
include ../mixins/popup
include ../mixins/modal

block head
    - var title = "상세 내용";

block contents
    main.popup.popup-lg.flex-grow-1
        +popup-title
            .ms-auto
                +badge.bg-secondary 최종변경일시
                span.badge.text-body.small.opacity-75 2022-05-16 14:45:52
        section.popup-section.container-fluid
            span 상세 내용이 없습니다.
        +popup-footer
            +btn.btn-secondary.popup-close-btn.mx-auto 확인
    +danger-modal
