extends ../layout/popupBase
include ../mixins/form
include ../mixins/button
include ../mixins/badge
include ../mixins/modal
include ../mixins/pagination
include ../mixins/popup
include ../mixins/modal

block head
    - var title = "결과 이력";

block contents
    .popup.popup-lg
        +popup-title
            .ms-auto
                +badge.bg-secondary 최종변경일시
                span.badge.text-body.small.opacity-75 2022-05-16 14:45:52
        section.popup-section.container-fluid
            .table-responsive
                table#case_history.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col") 결과등록자
                            th(scope="col") 테스트 결과
                            th(scope="col") 등록일
                            th(scope="col") 의견
                            th(scope="col") 삭제
                    tbody
                        tr
                            td 정신한
                            td 정상
                            td 2021-02-19
                            td 깊은산속 옹달샘 누가와서 쉬나요~!!
                            td 
                                +table-btn.btn-outline-danger(
                                    data-bs-toggle="modal",
                                    data-bs-target="#danger-modal"
                                ) 삭제
        +popup-footer
            +btn.btn-secondary.popup-close-btn.mx-auto 확인
    +danger-modal
