include ../mixins/button
include ../mixins/modal

#case-edit.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
            +modal-header("테스트케이스 편집")
            .modal-body
                .row.gx-2.gy-1
                    .col #[+select-sm("시스템")(disabled)]
                    .col #[+select-sm("업무")(disabled)]
                    .col #[+select-sm("중요도")(disabled)]
                    .col #[+select-sm("난이도")(disabled)]
                    .w-100
                    .col #[+input-sm("화면/서비스/JOB ID")(disabled)]
                    .col #[+input-sm("화면/서비스/JOB 명")(disabled)]
                    .col #[+input-sm("테스트케이스명")(disabled)]
                    .col-12 #[+textarea-sm("테스트 내용")(disabled)]
                    .col-12 #[+textarea-sm("확인 방법")(disabled)]
                    .col-12 #[+textarea-sm("입력값")]
                    .col-12 #[+textarea-sm("출력값")]
            .modal-footer
                +btn-primary 저장
                +btn-cancel-modal 취소
