include ../mixins/button
include ../mixins/modal

#remove-modal.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-sm
        .modal-content.text-center
            .modal-body
                span.d-block 해당 항목을 삭제하시겠습니까?
                span.d-block 이후 #[span.fw-bold 되돌릴 수 없습니다.]
            .modal-footer.justify-content-center
                +btn-danger 삭제
                +btn-cancel-modal 취소
