include ../mixins/button
include ../mixins/modal

#server-file.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
            +modal-header("서버에서 찾기")
            .modal-body
                .table-responsive
                    table#server_file.small.table-bordered.table.table-sm.table-hover.w-100
                        thead
                            tr
                                th(scope="col") 파일명
                                th(scope="col") 파일 크기
                                th(scope="col") 등록 일시
                                th(scope="col") 폴더명
                                th(scope="col") 선택
                        tbody
                            - for (var i = 0; i <= 5; i++)
                                tr
                                    td= `server-file-test-${i}`
                                    td 456 KB
                                    td 2022-08-30 15:42:00
                                    td files
                                    td #[+table-btn-primary 선택]
            .modal-footer
                +btn-cancel-modal 취소
