.main-cell {
    @include border-radius(var(--#{$prefix}border-radius-lg));
    @include reset-text;
    color: $body-color;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 3;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 26rem;
    height: 100%;
    transition: all 0.1s ease-in-out;
    background-color: rgba($tone, 0.75);
    &:hover {
        transform: translateY(-0.5rem);
        border-width: 1px;
        box-shadow: 0px 0.625rem 2rem 0px rgba($primary, 0.1);
        background-color: rgba($tone, 0.25);
    }
}
