extends layout/base
include mixins/form
include mixins/pagination
include mixins/button

block head
    - var title = "스크립트 노드 관리";

block contents
    .container
        .row.g-0
            .col
                h4.my-4.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    +btn-outline-success
                        span.me-2 Excel 다운로드
                        i.bi-file-earmark-excel
                    +btn-outline-primary("modal", "#node-new")(
                        data-gr-varying="스크립트 노드 파일 등록"
                    )
                        span.me-2 신규등록
                        i.bi-file-earmark-plus
    .bg-tone
        .container.py-4
            .row.gx-3.gy-2
                .col #[+input("스크립트명")]
                .col #[+input("작성자")]
                .col #[+select("종류")]
                .w-100.d-block.d-lg-none
                .col #[+select("시스템")]
                .col #[+select("업무")]
                .col-auto.align-self-end #[button.btn.btn-primary 검색]
                .col-auto.align-self-end #[button.btn.btn-secondary 초기화]

    .contents.container.pt-5.pb-6.flex-grow-1.d-flex.flex-column.gap-5
        .table-responsive
            table#design_node.table.table-sm.table-hover.table-bordered.w-100.small
                thead
                    tr
                        th(scope="col") 번호
                        th(scope="col") 시스템
                        th(scope="col") 파일명
                        th(scope="col") 설명
                        th(scope="col") 종류
                        th(scope="col") 크기
                        th(scope="col") 작성자
                        th(scope="col") 등록일
                        th(scope="col") 메뉴
                tbody
                    tr
                        td 3981
                        td 시스템-1
                        td 자동화 테스트 스크립트 파일-10
                        td 자동화 테스트 스크립트 설명-10
                        td Desktop
                        td 454 Kb
                        td 김신한무
                        td 2016-05-19 18:00:00
                        td
                            .hstack.gap-1.justify-content-center
                                +table-btn-primary("modal", "#node-new")(
                                    data-gr-varying="스크립트 노드 파일 편집"
                                ) 편집
                                +table-btn-primary 다운로드
                                +remove-btn
        +pagination
    include modals/design-node/node-new
    include modals/remove
