extends layout/base

block head
    - var title = "메인";

block contents
    a(href="./test.pug") 테스트페이지
    .container.pt-5.pb-6.flex-grow-1.d-flex.flex-column
        .row.row-cols-1.row-cols-md-2.row-cols-xl-4.h-100.g-4
            .col.d-flex.align-items-center
                .main-cell.p-5.pt-4(role="button")
                    img.img-fluid(src="../img/main/status.png?width=210")
                    span.ff-shinhan.fs-5 테스트 현황 관리
            .col.d-flex.align-items-center
                .main-cell.p-5.pt-4(role="button")
                    img.img-fluid(src="../img/main/case.png?width=210")
                    span.ff-shinhan.fs-5 테스트 케이스 관리
            .col.d-flex.align-items-center
                .main-cell.p-5.pt-4(role="button")
                    img.img-fluid(src="../img/main/fault.png?width=210")
                    span.ff-shinhan.fs-5 결함 관리
            .col.d-flex.align-items-center
                .main-cell.p-5.pt-4(role="button")
                    img.img-fluid(src="../img/main/report.png?width=210")
                    span.ff-shinhan.fs-5 보고서 관리
