extends layout/base
include mixins/form
include mixins/badge
include mixins/button

block head
    - var title = "테스트 페이지";

block contents
    .container
        .vstack.gap-3
            .editor
            .editor
            .editor
