extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal

block head
    - var title = "테스트케이스 관리";

block contents
    .container
        .row.g-0
            .col
                h4.my-4.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    +btn.btn-outline-success
                        span.me-2 Excel 다운로드
                        i.bi-file-earmark-excel
                    +a-btn.btn-outline-primary.popup-link(
                        href="/src/view/popup/case.pug"
                    )
                        span.me-2 신규등록
                        i.bi-file-earmark-plus
    .bg-tone
        .container.py-4
            .row.gx-3
                .col
                    .row.g-2
                        .col #[+select("시스템")]
                        .col #[+select("업무")]
                        .col #[+input("화면ID")]
                        .col #[+input("케이스ID")]
                        .w-100
                        .col #[+input("화면명")]
                        .col #[+input("케이스명")]
                        .col-3 #[+input("등록자명")]
                .col-auto
                    .vstack.h-100.gap-2
                        button.btn.btn-primary.btn.flex-grow-1 검색
                        +btn.btn-secondary.btn.flex-grow-1 초기화
    .contents.container.pt-5.flex-grow-1.d-flex.flex-column.gap-4
        .table-responsive
            table#case_list.small.table-bordered.table.table-sm.table-hover.w-100.small
                thead
                    tr
                        th(scope="col") 시스템
                        th(scope="col") 업무
                        th(scope="col") 화면/서비스/JOB ID
                        th(scope="col") 화면/서비스/JOB 명
                        th(scope="col") 테스트케이스 ID
                        th(scope="col") 테스트케이스 명
                        th(scope="col") 등록자명
                        th(scope="col") 등록일자
                tbody
                    tr
                        td 시스템-2
                        td 시스템2-업무26
                        td 동해물과 백두산이
                        td 마르고 닭도록
                        td 하느님이 보우하사
                        td 
                            +link.popup-link(
                                href="/src/view/popup/case.pug"
                            ) homepage_conn_xml
                        td 관리자
                        td 2022-05-16
        +pagination
    +danger-modal
