extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "부서별 결함 관리";

block contents
    .container
        .row.g-0
            .col
                h4.my-4.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    +btn.btn-outline-success
                        span.me-2 Excel 다운로드
                        i.bi-file-earmark-excel
    .bg-tone
        .container.py-4
            .row.gx-3
                .col.gx-3.gy-2
                    .row.g-2
                        .col #[+select("구분")]
                        .col #[+select("개발부서")]
                        .col #[+range("기간(완료일)")]
                        .col-auto.align-self-end #[+btn.btn-primary 검색]
                        .col-auto.align-self-end #[+btn.btn-secondary 초기화]
    .contents.container.pt-4.flex-grow-1.d-flex.flex-column.gap-4
        section.d-flex.flex-column
            .table-responsive
                table#fault_depart.small.table-bordered.table.table-sm.table-hover.w-100.small
                    thead
                        tr
                            th(scope="col") 부서
                            th(scope="col") 수행일자
                            th(scope="col") CSR
                            th(scope="col") 수행
                            th(scope="col") 정상
                            th(scope="col") 결합
                            th(scope="col") 개선
                            th(scope="col") 제안
                            th(scope="col") 불가
                            th(scope="col") 배치
                            th(scope="col") 개선조치
                            th(scope="col") 제안조치
                            th(scope="col") 개선제안부결
                    tbody
                        - for (var i = 1; i <= 5; i++)
                            tr
                                td Core개발챕터 신사업프로젝트
                                td 2022-10-11
                                td 1
                                td 1
                                td 1
                                td 0
                                td 2
                                td 0
                                td 4
                                td 11
                                td 0
                                td 7
                                td 0
                            tr
                                td 
                                td 2022-10-12
                                td 1
                                td 1
                                td 1
                                td 0
                                td 2
                                td 0
                                td 4
                                td 11
                                td 0
                                td 7
                                td 0
                            tr.table-light.row-divider
                                td
                                td 소계
                                td 2
                                td 2
                                td 2
                                td 0
                                td 4
                                td 0
                                td 8
                                td 22
                                td 0
                                td 14
                                td 0
                            tr
                                td 플랫폼인프라챕터 통합&모바일 플랫폼운영
                                td 2022-10-11
                                td 1
                                td 2
                                td 0
                                td 5
                                td 0
                                td 3
                                td 4
                                td 0
                                td 2
                                td 1
                                td 0
                            tr
                                td 
                                td 2022-10-12
                                td 1
                                td 2
                                td 0
                                td 5
                                td 0
                                td 3
                                td 4
                                td 0
                                td 2
                                td 1
                                td 0
                            tr.table-light.row-divider
                                td
                                td 소계
                                td 2
                                td 4
                                td 0
                                td 10
                                td 0
                                td 6
                                td 8
                                td 0
                                td 4
                                td 2
                                td 0
            +pagination
    +danger-modal
