extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "부서별 현황";

block contents
    .container
        .row.g-0
            .col
                h4.my-3.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    +btn.btn-outline-success
                        span.me-2 Excel 다운로드
                        i.bi-file-earmark-excel
    .bg-tone
        .container.py-4
            .row.gx-3
                .col.gx-3.gy-2
                    .row.g-2
                        .col-auto #[+range("기간(완료일)")]
                        .col-auto.align-self-end.ms-auto #[+btn.btn-primary 검색]
                        .col-auto.align-self-end #[+btn.btn-secondary 초기화]
    .contents.container.pt-4.flex-grow-1.d-flex.flex-column.gap-4
        section.d-flex.flex-column
            .table-responsive
                table#fault_depart.table-bordered.table.table-sm.table-hover.w-100.small
                    thead
                        tr
                            th(scope="col") 부서
                            th(scope="col") CSR
                            th(scope="col") 총 케이스
                            th(scope="col") 수행
                            th(scope="col") 정상
                            th(scope="col") 결함
                            th(scope="col") 개선
                            th(scope="col") 개선조치
                            th(scope="col") 제안
                            th(scope="col") 제안조치
                            th(scope="col") 불가
                            th(scope="col") 배치
                            th(scope="col") 정상율
                            th(scope="col") 조치율
                    tbody
                        - for (var i = 1; i <= 15; i++)
                            tr
                                td 플랫폼인프라챕터 통합&모바일 플랫폼운영
                                td 15
                                td 15
                                td 35
                                td 31
                                td 30
                                td 30
                                td 2
                                td 1
                                td 2
                                td 0
                                td 0
                                td 100%
                                td 100%
                        tr.table-light.fw-bold
                            td 합계
                            td 225
                            td 225
                            td 525
                            td 465
                            td 450
                            td 450
                            td 30
                            td 15
                            td 30
                            td 0
                            td 0
                            td 100%
                            td 100%
            +pagination
    +danger-modal
