extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "테스트 제외건 조회";

block contents
    .container
        .row.g-0
            .col
                h4.my-3.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    +btn.btn-outline-success
                        span.me-2 Excel 다운로드
                        i.bi-file-earmark-excel
    .bg-tone
        .container.py-4
            .row.gx-3
                .col
                    .row.g-2
                        .col-4 #[+range("제외 승인일자")]
                        .col #[+input("CSR 번호")]
                        .col #[+select("테스트 제외 사유")]
                        .col-auto.align-self-end #[+btn.btn-primary 검색]
                        .col-auto.align-self-end #[+btn.btn-secondary 초기화]
    .contents.container.pt-5.flex-grow-1.d-flex.flex-column.gap-5
        .table-responsive
            table#excluded_list.table-bordered.table.table-sm.table-hover.w-100.small
                thead
                    tr
                        th(scope="col") CSR 번호
                        th(scope="col") 제목
                        th(scope="col") 개발부서
                        th(scope="col") CSR 등록일
                        th(scope="col") 제외 승인일자
                        th(scope="col") 제외 사유
                tbody
                    - for (var i = 1; i <= 10; i++)
                        tr
                            td= `C202209215624${i}`
                            td 해외 Issuing, Acquiring 업무 효율화 및 성능 개선
                            td Core인프라챕터 승인계
                            td 2021-02-04
                            td 2021-02-04
                            td 대상아님
        +pagination
