extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "테스터별 현황";

block contents
    .container
        .row.g-0
            .col
                h4.my-3.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    +btn.btn-outline-success
                        span.me-2 Excel 다운로드
                        i.bi-file-earmark-excel
    .bg-tone
        .container.py-4
            .row.gx-3
                .col.gx-3.gy-2
                    .row.g-2
                        .col-auto #[+range("기간(완료일)")]
                        .col-auto.align-self-end.ms-auto #[+btn.btn-primary 검색]
                        .col-auto.align-self-end #[+btn.btn-secondary 초기화]
    .contents.container.pt-4.flex-grow-1.d-flex.flex-column.gap-4
        section.d-flex.flex-column
            .table-responsive
                table#fault_tester.table-bordered.table.table-sm.table-hover.w-100.small
                    thead
                        tr
                            th(scope="col", rowspan="2") 테스터
                            th(scope="col", rowspan="2") CSR
                            th(scope="col", colspan="3") 테스트케이스
                            th(scope="col", rowspan="2") 수행
                            th(scope="col", rowspan="2") 정상
                            th(scope="col", colspan="3") 결함
                            th(scope="col", colspan="3") 개선
                            th(scope="col", rowspan="2") 제안
                            th(scope="col", colspan="2") 미수행
                            th(scope="col", rowspan="2") 정상율
                            th(scope="col", rowspan="2") 이슈#[br]보고율
                        tr
                            th(scope="col") 총건수
                            th(scope="col") 원본
                            th(scope="col") 추가
                            th(scope="col") 총건수
                            th(scope="col") 원본결함
                            th(scope="col") 추가결함
                            th(scope="col") 총건수
                            th(scope="col") 즉시개선
                            th(scope="col") 사후개선
                            th(scope="col") 불가
                            th(scope="col") 배치
                    tbody
                        - for (var i = 1; i <= 15; i++)
                            tr
                                td 고신한
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 20
                                td 100%
                                td 100%
                        tr.table-light.fw-bold
                            td 합계
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 20
                            td 100%
                            td 100%
            +pagination
    +danger-modal
