extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "게시글 등록";

block contents
    .container
        .row.g-0
            .col
                h4.my-4.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    +btn.btn-primary 저장
                    +btn.btn-secondary(
                        data-bs-toggle="modal",
                        data-bs-target="#danger-modal"
                    ) 취소
    .contents.container.pt-4.pb-4.flex-grow-1.d-flex.flex-column.gap-5
        section.d-flex.flex-column.flex-grow-1.gap-4.mb-5
            .input-group&attributes(attributes)
                span.input-group-text 제목
                input.start-date.form-control(type="text")
            .flex-grow-1
                .card.h-100
                    .card-header 내용
                    .card-body.p-0
                        +textarea.form-control-plaintext.h-100.p-3
    +danger-modal
        span.d-block 작성 중인 내용을 #[span.fw-bold 삭제하시겠습니까?]
