include ../../mixins/button
include ../../mixins/modal

#all-success.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-sm
        .modal-content
            .modal-body.text-center
                span.d-block 테스트 결과가 입력되지 않은 건을
                span.d-block #[span.fw-bold 일괄 정상 처리]합니다.
            .modal-footer.justify-content-center
                +btn-primary 예
                +btn-cancel-modal 아니오
