include ../../mixins/button
include ../../mixins/modal

#case-history.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
            +modal-header("결과 이력")
            .modal-body
                .table-responsive
                    table#case_history.small.table-bordered.table.table-sm.table-hover.w-100
                        thead
                            tr
                                th(scope="col") 결과등록자
                                th(scope="col") 테스트 결과
                                th(scope="col") 등록일
                                th(scope="col") 의견
                                th(scope="col") 삭제
                        tbody
                            tr
                                td 정신한
                                td 정상
                                td 2021-02-19
                                td 깊은산속 옹달샘 누가와서 쉬나요~!!
                                td #[+gr-remove-btn]
            .modal-footer
                button#execute-btn.btn.btn-secondary 확인
