@font-face {
    font-family: "OneShinhan";
    src: local("OneShinhan"),
        url("/src/fonts/OneShinhanLight.woff2") format("woff2"),
        url("/src/fonts/OneShinhanLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OneShinhan";
    src: local("OneShinhan"),
        url("/src/fonts/OneShinhanMedium.woff2") format("woff2"),
        url("/src/fonts/OneShinhanMedium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OneShinhan";
    src: local("OneShinhan"),
        url("/src/fonts/OneShinhanBold.woff2") format("woff2"),
        url("/src/fonts/OneShinhanBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
