@import "OneShinhan";
@import "ShinhanCard";
@import "/node_modules/pretendard/dist/web/static/pretendard-dynamic-subset.css";
@import "/node_modules/nanum-fontface/css/nanum-gothic.css";
@import "/node_modules/nanum-fontface/css/nanum-myeongjo.css";

$font-families: (
    shinhan: $font-family-shinhan,
    card: $font-family-card,
);

@each $name, $font in $font-families {
    .ff-#{$name} {
        font-family: $font;
    }
}
