mixin badge
    span.align-middle.lh-sm.badge&attributes(attributes)
        block

mixin a-badge
    a.align-middle.lh-sm.badge.text-decoration-none&attributes(attributes)
        block

mixin a-badge-history
    a.align-middle.lh-sm.badge.text-decoration-none.bg-primary.text-white.badge-history&attributes(attributes)
        block
