mixin btn
    button.btn&attributes(attributes)
        block

mixin a-btn
    a.btn&attributes(attributes)
        block

mixin table-btn
    button.btn.btn-sm.py-0&attributes(attributes)
        block

mixin a-table-btn
    a.btn.btn-sm.py-0&attributes(attributes)
        block

mixin modal-close
    button.btn-close(
        type="button",
        data-bs-dismiss="modal",
        aria-label="Close"
    )&attributes(attributes)

mixin link(href)
    a(href=href)&attributes(attributes)
        block
