doctype html
html.h-100(lang="ko")
    head
        include meta
        block head
        if title !== "메인"
            title= `TAMS ${title}`
        else
            title TAMS
    body.d-flex.flex-column.h-100
        header.fixed-top
            include ../mixin/navbar
            +navbar
        main.flex-grow-1.vstack
            if title !== "메인"
                .container
                    h5.my-4= title
            block contents
        include footer
        script(src="../js/app.js", type="module")
        block scripts
