doctype html
html.h-100(lang="ko")
    head
        include meta
        block head
        if title
            title= `TAMS | ${title}`
        else
            title TAMS
    body.d-flex.flex-column.h-100
        header.sticky-top
            include navbar
        main.flex-grow-1.vstack
            a.position-fixed.bottom-0(href="/src/view/test-ui.pug") 테스트페이지
            block contents
        include footer
        script(src="/src/js/app.js", type="module")
        block scripts
