doctype html
html.h-100(lang="ko")
    head
        include meta
        block head
        if title
            title= `TAMS | ${title}`
        else
            title TAMS
    body.popup-window.loading
        #preloader
            .bar(role="progressbar")
        block contents
        script(src="/src/js/app.js", type="module")
        block scripts
