main {
    padding-top: 8rem;
}

.plain-link {
    @include transition($nav-link-transition);
    color: $text-muted;
    text-decoration: none;
    &:hover,
    &:focus {
        color: var(--#{$prefix}nav-link-hover-color);
    }
}

.popup {
    width: var(--#{$prefix}popup-width);
}
