.popup {
    &:not(.resized) {
        max-width: 0;
    }
    min-width: var(--#{$prefix}popup-width);
    min-height: 18.125rem;
    &.loading {
        overflow: visible;
    }
    &.include-dp {
        min-height: 28rem;
    }

    .pagination {
        margin-bottom: 0;
    }
    .popup-section {
        display: flex;
        flex-direction: column;
        padding-top: $spacer;
        padding-bottom: $spacer;
    }
    .popup-section-title {
        width: 100%;
        text-align: start;
        font-weight: $font-weight-bold;
        margin-top: -0.125em;
        margin-bottom: 0.125em;
    }
    .popup-toolbar {
        padding-bottom: $spacer * 0.5;
        align-items: center;
        font-size: $font-size-lg;
    }
}
