$utilities: map-merge(
    $utilities,
    (
        "width":
            map-merge(
                map-get($utilities, "width"),
                (
                    responsive: true,
                )
            ),
        "font-size":
            map-merge(
                map-get($utilities, "font-size"),
                (
                    responsive: true,
                )
            ),
        "popup": (
            css-var: true,
            css-variable-name: popup-width,
            class: popup,
            values: (
                xl: $modal-xl,
                lg: $modal-lg,
                md: $modal-md,
                sm: $modal-sm,
            ),
        ),
    )
);
