$utilities: map-merge(
    $utilities,
    (
        "popup": (
            css-var: true,
            css-variable-name: popup-width,
            class: popup,
            values: (
                xl: $modal-xl,
                lg: $modal-lg,
                md: $modal-md,
                sm: $modal-sm,
            ),
        ),
    )
);
