extends ../layout/base
include ../mixins/form
include ../mixins/badge
include ../mixins/button

block head
    - var title = "테스트 페이지";

block contents
    .container
        .vstack.gap-3
            +btn#download-btn.btn-primary 다운로드
            #editor-1.editor
            //- #editor-2.editor
            //- #editor-3.editor

    include ../modals/preview
