extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "버전 정보";

block contents
    .container
        h4.my-3.me-auto.text-truncate= title
    .contents.container.pt-4.pb-4.flex-grow-1.d-flex.flex-column
        section.d-flex.flex-column.my-auto
            .w-auto.mx-auto.d-flex.flex-column.text-center.gap-4.mb-6
                img.mb-4(src="/src/img/logo_grey.png")
                .vstack.align-items-center.gap-2
                    +badge.bg-secondary.me-2 클라이언트
                    span 1234
                .vstack.align-items-center.gap-2
                    +badge.bg-secondary.me-2 서버
                    span S_220516

    +danger-modal
