extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "보고서 생성";

block contents
    .container
        h4.my-4.me-auto.text-truncate= title
    .bg-tone
        .container.py-4
            .row.gx-3
                .col.gx-3.gy-2
                    .row.g-2
                        .col-auto #[+range("기간(완료일)")]
                        .col-auto.align-self-end.ms-auto #[+btn.btn-primary 검색]
                        .col-auto.align-self-end #[+btn.btn-secondary 초기화]
    .contents.container.pt-4.flex-grow-1.d-flex.flex-column.gap-4
        section.d-flex.flex-column
            .row.row-cols-3
                .col
                    .card.p-3.h-100
                        .card-body.d-flex.flex-column
                            .d-flex.align-items-center.mb-3
                                h5.mb-0.me-auto CSR 요약 정보
                                +btn.btn-light.btn-sm.lh-1.py-2.fw-bold
                                    | 자세히
                                    i.bi.bi-chevron-right.me-n1
                            .row.fs-5.gy-2.my-auto
                                .col-4 #[+badge.bg-secondary.me-2.w-100 전체]
                                .col-8 #[span 0]
                                .col-4 #[+badge.bg-primary.me-2.w-100 진행중]
                                .col-8 #[span 0]
                                .col-4 #[+badge.bg-dark.me-2.w-100 완료]
                                .col-8 #[span 0]
                            +btn.btn-light.fw-bold.mt-4
                                i.bi.bi-box.me-2
                                | 보고서 생성
                .col
                    .card.p-3.h-100
                        .card-body.d-flex.flex-column
                            .d-flex.align-items-center.mb-3
                                h5.mb-0.me-auto 결함 요약 정보
                                +btn.btn-light.btn-sm.lh-1.py-2.fw-bold
                                    | 자세히
                                    i.bi.bi-chevron-right.me-n1
                            .row.fs-5.gy-2.my-auto
                                .col-5 #[+badge.bg-secondary.me-2.w-100 전체]
                                .col-7 #[span 0]
                                .col-5 #[+badge.bg-primary.me-2.w-100 개발팀할당]
                                .col-7 #[span 0]
                                .col-5 #[+badge.bg-dark.me-2.w-100 조치완료]
                                .col-7 #[span 0]
                            +btn.btn-light.fw-bold.mt-4
                                i.bi.bi-box.me-2
                                | 보고서 생성
                .col
                    .card.p-3.h-100
                        .card-body.d-flex.flex-column
                            .d-flex.align-items-center.mb-3
                                h5.mb-0.me-auto 테스트케이스 요약 정보
                                +btn.btn-light.btn-sm.lh-1.py-2.fw-bold
                                    | 자세히
                                    i.bi.bi-chevron-right.me-n1
                            .row.fs-5.gy-2.my-auto
                                .col-5 #[+badge.bg-secondary.me-2.w-100 전체]
                                .col-7 #[span 0]
                                .col-5 #[+badge.bg-secondary.me-2.w-100 등록된 케이스]
                                .col-7 #[span 0]
                                .col-5 #[+badge.bg-primary.me-2.w-100 결과 미입력]
                                .col-7 #[span 0]
                                .col-5 #[+badge.bg-success.me-2.w-100 정상]
                                .col-7 #[span 0]
                                .col-5 #[+badge.bg-danger.me-2.w-100 결함]
                                .col-7 #[span 0]
                            +btn.btn-light.fw-bold.mt-4
                                i.bi.bi-box.me-2
                                | 보고서 생성
    +danger-modal
