extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "CSR 요약정보";

block contents
    .container
        .popup-toolbar.row.g-0
            .col
                h4.my-3.me-auto.text-truncate= title
            .col-auto
                .row.row-cols-auto.justify-content-between.fs-5
                    .col.d-flex.align-items-center
                        +badge.bg-secondary.me-2 전체
                        span 0
                    .col.d-flex.align-items-center
                        +badge.bg-primary.me-2 진행중
                        span 0
                    .col.d-flex.align-items-center
                        +badge.bg-dark.me-2 완료
                        span 0
    .bg-tone
        .container.py-4
            .row.gx-3
                .col.gx-3.gy-2
                    .row.g-2
                        .col-auto #[+range("기간(완료일)")]
                        .col-auto.align-self-end.ms-auto #[+btn.btn-primary 검색]
                        .col-auto.align-self-end #[+btn.btn-secondary 초기화]
    .contents.container.pt-4.flex-grow-1.d-flex.flex-column.gap-4
        section.d-flex.flex-column
            .row
                .col
                    .table-responsive
                        table#fault_performance.table-bordered.table.table-sm.table-hover.w-100.small
                            thead
                                tr
                                    th(scope="col") 테스터
                                    th(scope="col") CSR
                                    th(scope="col") 개발자 신규작성
                                    th(scope="col") 테스터 신규작성
                                    th(scope="col") 수행
                                    th(scope="col") 정상
                                    th(scope="col") 결합
                                    th(scope="col") 개선
                                    th(scope="col") 제안
                                    th(scope="col") 불가
                                    th(scope="col") 배치
                            tbody
                                - for (var i = 1; i <= 10; i++)
                                    tr
                                        td 고신한
                                        td 1
                                        td 1
                                        td 1
                                        td 0
                                        td 2
                                        td 0
                                        td 4
                                        td 11
                                        td 0
                                        td 7
